.nav {
    grid-area: nav;
    background-color: var(--color-first);
}

.item {
    padding: 3px 10px 3px 10px;
}

.item a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 14pt;
}

.item a:hover {
    color: var(--active);
}

.item a.active {
    color: var(--active);
}
