.nav {
    grid-area: nav;
    background-color: var(--color-first);
    padding: 10px;
}

.item {
    padding: 3px 0px 3px 0px;
}

.item a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 14pt;
}

.item a:hover {
    color: var(--active);
}

.item a.active {
    color: var(--active);
}

.friends_block {
    margin-top: 20px;
}

.friends_block .title {
    color: var(--font-color);
    font-size: 16pt;
}

.friends {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

