.nav {
    grid-area: nav;
    background-color: burlywood;
}

.item a {
    color: white;
    text-decoration: none;
    font-size: 15pt;
}

.item a:hover {
    color: #ebebeb;
}

.item a.active {
    color: chartreuse;
}
