.dialogs_wrapper {
    display: grid;
    grid-template-columns: 4fr 10fr;
}

.dialogs {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-width: 0 1px 0 0;
}

.conversation_head {
    align-self: flex-start;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
}

.conversation_head figure img {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin-right: 10px;
}

.conversation_head figure {
    margin: 5px;
}

.conversation_head span {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: #545454;
    line-height: initial;
}

.conversation_head span i{
    color: #838383;
    font-size: 12px;
    font-weight: normal;
    margin: 5px 0px 0px 0px;
}

.messages {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.new_message_container {
    display: flex;
    margin-top: 20px;
}

.tf {
    width: 250px;
    height: 40px;
}

