.message {
    border: 1px solid var(--border-color);
    border-radius: 7px;
    max-width: 265px;
    padding: 5px 7px 5px 7px;
    background: var(--color-first);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 5px;
    /*box-shadow: 0 3px 6px rgba(8, 141, 205, 0.16), 0 3px 6px rgba(8, 141, 205, 0.23);*/
}

.message span {
    line-height: 20px;
    color: var(--font-color);
}

.mine {
    align-self: flex-end;
}

.other {
    align-self: flex-start;
}